<template>

</template>

<script>
    export default {
        props: ['data'],

        data() {
            return {
                broadcasts: this.data,
                statuses: [],
            }
        },

        methods: {
            showStatuses(broadcast) {
                $('#statusesModal').modal('show');

                this.getStatuses(broadcast);
            },

            getStatuses(broadcast) {
                this.statuses = [];

                axios.get(`/api/broadcasts/${broadcast.id}/statuses`)
                    .then(response => {
                        this.statuses = response.data;
                    });
            }
        }
    }
</script>

<style scoped>

</style>