<template>
    <div>
        <div class="flex justify-between items-center">
            <h2 class="text-xl font-bold leading-7 text-gray-900 sm:text-2xl sm:leading-9 sm:truncate">
                {{ params.from | format('MMM YYYY') }}
            </h2>

            <div class="btn-group" role="group">
              <button type="button" @click="previous" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button type="button" @click="today" class="btn btn-primary">
                Today
              </button>
              <button type="button" @click="next" class="btn btn-primary">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-7 mt-2 sm:mt-4">
            <div class="shadow sm:mt-0 w-full border border-gray-200 p-1"
                 :class="isWeekend(date) ? 'bg-gray-200 sm:bg-gray-50' : 'bg-white'"
                 v-for="(date, index) in dates"
                 :key="index">
                <div class="flex justify-start items-center font-semibold">
                    <p :class="{'bg-green-400 text-white px-2 rounded-full': isToday(date), 'text-gray-300': !isCurrentMonth(date)}">
                        {{ date | format('D') }}
                    </p>
                    <p class="ml-1 uppercase text-xs" :class="isCurrentMonth(date) ? 'text-gray-500' : 'text-gray-300'">
                      {{ date | format('dd') }}
                    </p>
                </div>

                <div class="h-full sm:h-32 overflow-auto">
                    <div v-for="event in eventsOnDay(date)"
                       :key="event.id"
                       :style="{'background-color': event.color}"
                       class="inline-flex group justify-between items-start w-full rounded-sm text-xs font-medium text-white"
                    >
                      <a :href="event.link ? `/events/${event.id}` : 'javascript:void(0)'" class="px-2.5 py-0.5 hover:text-white focus:text-white flex-1">
                        {{ event.title }}
                      </a>
                      <span v-if="event.user_id === application.userId"
                            @click.prevent="remove(event)"
                            class="cursor-pointer opacity-0 group-hover:opacity-100 bg-gray-600 px-1.5 py-0.5">
                        <i class="fa fa-trash"></i>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Calendar from "./../mixins/Calendar";

export default {
    name: 'calendar',

    mixins: [Calendar],

    data() {
        return {
          events: [],
        }
    },

    mounted() {
        this.fetch();
    },

    methods: {
        fetch() {
            this.prepareDates();

            this.params.from = this.from.format(this.date_format);
            this.params.to = this.to.format(this.date_format);

            axios.get('events', {params: this.params})
                .then(response => this.events = response.data);
        },

        eventsOnDay(date) {
            return this.groupedVisits[date.format(this.date_format)];
        },

        remove(event) {
          axios.delete(`events/${event.id}`)
              .then(response => {
                this.fetch();
              });
        }
    },

    computed: {
      groupedVisits() {
        return _.groupBy(this.events, event => moment(event.date).format(this.date_format));
      }
    }
}
</script>

<style>
.group:before,.group:after {
  content: none;
}
</style>
