<template>

</template>

<script>
    export default {
        data() {
            return {
                to: 'contacts',
                message: '',
                templates: [
                    'First template',
                    'Second template',
                    'Third template',
                    'Fourth template'
                ],
                selectedTemplate: '',
                template_title: '',
                new_title: ''
            }
        },

        methods: {
            selectTemplate: function (event) {
                this.message = this.selectedTemplate;
                this.template_title = event.target.options[event.target.options.selectedIndex].getAttribute('data-title');
                this.new_title = this.template_title;
            },
            saveAsTemplate() {
              const postData = { title: this.new_title, message: this.message };
              axios
                .post("/save-tempalte", postData)
                .then(res => {
                    console.log(res);
                    window.location.reload();
                });
            }
        }
    }
</script>
