<template>

</template>

<script>
    export default {
        data() {
            return {
                is_global: false,
                to: 'users',
                selection: 'selected'
            }
        }
    }
</script>
