<template>

</template>

<script>
    export default {
        props: ['oldInput'],

        data() {
            return {
                deal_id: null,
                deal: false,
                sqft: null,
                asking_price_flag: false,
                estimated_rehab_flag: false,
                appraised_value_flag: false,
                asking_price: 0,
                appraised_value: 0,
                fair_market_rent: 0,
                actual_monthly_rent: 0,
                annual_taxes: 0,
                annual_insurance: 0,
                delinquent_mortgage_amount: 0,
                rehab_estimate: 0,
                offer_price: 0,
                actual_net_profit: 0,
                wholesale_fee: 0,
                retail_value: 0,
                commission_fee_rate: 6,
                closing_cost_rate: 1.5,
                funding_fee: '',
                funding_fee_rate: 1,
                holding_days: 120,
                comparables: [],
                notes: [],
                deal_type: '',
                stage: '',
                contract_status: 0,
                rehab_estimate_category: '',
                offer_scale_percentage: 75,
                seller_mobile: '',
                seller_phone: '',
                zillow_comparables: [],
                address: '',
                city: '',
                state: '',
                postal_code: '',
                funding_fee_type:'flat',
                loan_fee_type:'flat',
                loan_fee: '',
                loan_fee_rate: 1,
                showModal: false,
                myTemplatesList:[],
                cost_template_id: null
            }
        },

        computed: {
            prefer_wholesale() {
                return ((this.asking_price + this.after_repair_value) < (this.arv_estimate * 0.85))
                    || ((this.purchase + this.after_repair_value) < (this.arv_estimate * 0.70));
            },

            prefer_fix_flip() {
                return this.asking_price >= (this.arv_estimate * 0.40) && this.asking_price <= (this.arv_estimate * 0.70);
            },

            prefer_rental() {
                return (this.annual_gross_income / 12) >= ((this.purchase + this.rehab) * 0.09);
            },

            prefer_subject_to() {
                return this.equity_position >= -20 && this.equity_position <= 9.9 && this.after_repair_value < 5001;
            },

            prefer_lease_options() {
                return this.after_repair_value < 5001 && this.equity_position >= 1 && this.equity_position <= 14.9;
            },

            prefer_short_term_rental() {
                return (this.actual_monthly_rent > (this.asking_price * 1.9))
                    || (this.after_repair_value === 0 && this.equity_position >= 0);
            },

            is_good_buy_hold() {
                return (this.offer_price + this.rehab_estimate) / this.annual_gross_income <= 9;
            },

            is_good_fix_flip() {
                return percentageDifference(this.after_repair_value, (this.after_repair_value * 0.85) - this.rehab_estimate) <= 83.4;
            },

            is_good_short_sale() {
                return percentageDifference(this.after_repair_value, this.offer_price + this.rehab_estimate + this.delinquent_mortgage_amount) <= 7;
            },

            is_good_brrrr() {
                return percentageDifference(this.after_repair_value, this.offer_price + this.rehab_estimate) < 80;
            },

            is_good_wholesale() {
                return percentageDifference(this.after_repair_value, this.offer_price + this.wholesale_fee) <= 80;
            },

            is_good_lease_option() {
                if(percentageDifference(this.offer_price, this.rehab_estimate + this.delinquent_mortgage_amount) <= 5) {
                    return true;
                }

                return percentageDifference(this.after_repair_value, this.offer_price) >= 79.5
                    && percentageDifference(this.after_repair_value, this.offer_price + this.rehab_estimate + this.delinquent_mortgage_amount) <= 93;
            },

            estimated_rehab() {
                if (parseInt(this.rehab_estimate)) {
                    return this.rehab_estimate;
                }

                if (this.rehab_estimate_category && this.sqft) {
                    return this.sqft * parseFloat(this.rehab_estimate_category);
                }

                return 0;
            },

            comparable_price_per_sqft() {
                let totalSqftPrice = 0,
                    totalComparables = 0;

                for(let i = 0; i < this.comparables.length; i++) {
                    if (this.comparables[i].sold_price && this.comparables[i].sqft) {
                        totalSqftPrice += this.comparables[i].sold_price / this.comparables[i].sqft;
                        totalComparables++;
                    }
                }

                let value = totalSqftPrice / totalComparables;

                return value || 0;
            },

            after_repair_value() {
                if (this.sqft && this.comparable_price_per_sqft) {
                    return this.sqft * this.comparable_price_per_sqft;
                }

                return 0;
            },

            suggested_maximum_offer() {
                if (this.after_repair_value) {
                    return (this.after_repair_value * (this.offer_scale_percentage / 100)) - this.estimated_rehab;
                }

                return 0;
            },

            annual_expenses() {
                let value = 0;

                value += parseInt(this.annual_taxes || 0);
                value += parseInt(this.annual_insurance || 0);

                return value;
            },

            annual_gross_income() {
                if (parseInt(this.actual_monthly_rent)) {
                    return parseInt(this.actual_monthly_rent) * 12;
                }

                return parseInt(this.fair_market_rent || 0) * 12;
            },

            annual_net_operating_income() {
                return this.annual_gross_income - this.annual_expenses;
            },

          wholesale_value: function wholesale_value() {
            /* return parseInt(this.after_repair_value * (this.offer_scale_percentage/100) || 2); */

            return parseInt(this.offer_price || 0) + (this.deal_type == 1 ? parseInt(this.wholesale_fee || 0) : 0);
          },

            /*retail_value() {
                return parseInt(this.after_repair_value || 0);
            },*/

            arv_estimate() {
                return parseInt(this.after_repair_value || 0);
            },

            equity_position() {
                if (this.after_repair_value) {
                    /* Updated 6/5/17 to wholesale value instead of offer price */
                    return parseInt(((this.after_repair_value - this.wholesale_value)/this.after_repair_value) * 100);
                }

                return 0;
            },

            purchase() {
                if (this.after_repair_value) {
                    return parseInt(((this.offer_price / this.after_repair_value)) * 100);
                }

                return 0;
            },

            rehab() {
                if (this.after_repair_value) {
                    return parseInt(((this.estimated_rehab / this.after_repair_value)) * 100);
                }

                return 0;
            },

            gross_profit() {
                if (this.after_repair_value) {
                    return this.after_repair_value - ((this.offer_price || this.asking_price) + this.rehab_estimate);
                }

                return 0;
            },

            commission_fee() {
                if (this.retail_value) {
                    return this.retail_value * (this.commission_fee_rate / 100);
                }

                return 0;
            },

            closing_cost() {
                if (this.retail_value) {
                    return this.retail_value * (this.closing_cost_rate / 100);
                }

                return 0;
            },

            funding_fee_amount() {
                if (this.funding_fee && this.funding_fee_type == 'flat') {
                    return parseInt(this.funding_fee);
                }

                return (this.offer_price + this.rehab_estimate) * (((this.funding_fee_rate / 100)/ 12) * (this.holding_days / 30));
            },

            loan_fee_amount() {
                if (this.loan_fee && this.loan_fee_type == 'flat') {
                    return parseInt(this.loan_fee);
                }

                return (this.offer_price + this.rehab_estimate) * (((this.loan_fee_rate / 100)/ 12) * (this.holding_days / 30));
            },

            total_fee_amount() {
                return (this.funding_fee_amount + this.loan_fee_amount);
            },

            estimated_net_profit() {
                if (this.retail_value) {
                    return this.retail_value - ((this.offer_price || this.asking_price) + this.rehab_estimate + this.commission_fee + this.wholesale_fee + this.closing_cost + this.funding_fee_amount + this.loan_fee_amount);
                }

                return 0;
            },

            cash_return() {
                if(this.annual_net_operating_income) {
                    return this.annual_net_operating_income/(this.offer_price + this.rehab_estimate + this.commission_fee + this.closing_cost + this.wholesale_fee);
                }

                return 0;
            },

            cap_rate() {
                if(this.annual_net_operating_income && this.offer_price) {
                    return _.round((this.annual_net_operating_income / this.offer_price ) * 100, 1);
                }

                return 0;
            }
        },

        created() {
            this.deal_id = $('#deal-id').val();

            this.initialize();
            this.getComparables();

            Bus.$on('countries-fetched', () => {
                this.state = this.deal.state || '';
            });
        },

        watch: {
            after_repair_value() {
                this.retail_value = parseInt(this.after_repair_value || 0);
            },

            address() {
                this.getComparables();
            },

            city() {
                this.getComparables();
            },

            state() {
                this.getComparables();
            },

            postal_code() {
                this.getComparables();
            },

            stage(value) {
                this.contract_status = value == 3 ? 1 : 0; // check under contract here...
            }
        },

        methods: {
            initialize() {
                if(this.deal_id != 0) {
                    axios.get(`/api/deals/${this.deal_id}`)
                        .then(response => {
                            this.deal = response.data;

                            this.initializeDeal();
                        });
                } else {
                    this.setFields(this.oldInput);
                    this.addComparable();
                    this.addNote();
                }
            },

            setFields(data) {
                this.asking_price = data.asking_price || 0;
                this.appraised_value = data.appraised_value || 0;
                this.fair_market_rent = data.fair_market_rent || 0;
                this.actual_monthly_rent = data.actual_monthly_rent || 0;
                this.annual_taxes = data.annual_taxes || 0;
                this.annual_insurance = data.annual_insurance || 0;
                this.delinquent_mortgage_amount = data.delinquent_mortgage_amount || 0;
                this.rehab_estimate = data.rehab_estimate || 0;
                this.wholesale_fee = data.wholesale_fee || 0;
                this.offer_price = data.offer_price || 0;
                this.actual_net_profit = data.actual_net_profit || 0;
                this.address = data.address || '';
                this.city = data.city || '';
                this.postal_code = data.postal_code || '';

                setTimeout(() => {
                  this.state = data.state || '';
                }, 300);

                this.seller_mobile = data.seller_mobile;
                this.seller_mobile_formatted = data.seller_mobile;
                this.seller_phone = data.seller_phone;
                this.seller_phone_formatted = data.seller_phone;

                this.sqft = data.square_feet;
                this.deal_type = data.deal_type;
                this.stage = data.stage;
                this.cost_template_id = data.cost_template_id || null;
            },

            initializeDeal() {
                this.setFields(this.deal);

                if(this.deal.comparable_properties.length) {
                    this.comparables = this.deal.comparable_properties;
                } else {
                    this.addComparable();       
                }

                if(this.deal.notes.length) {
                    this.notes = this.deal.notes;
                } else {
                    this.addNote();
                }
            },

            addComparable() {
                this.comparables.push({
                    address: null,
                    br: null,
                    ba: null,
                    sqft: null,
                    sold_price: 0
                });
            },

            removeComparable(index) {
                this.comparables.splice(index, 1);
            },

            addNote() {
                this.notes.push({
                    text: '',
                });
            },

            removeNote(index) {
                this.notes.splice(index, 1);
            },

            onSubmit() {
                axios.post('/api/properties/save-comparable', {comparables: this.comparables})
                    .then(response => {
                        $("#deal-form").submit();
                    });
            },

            set_seller_mobile() {
                this.seller_mobile = $('#seller_mobile_formatted').cleanVal();
            },

            set_seller_phone() {
                this.seller_phone = $('#seller_phone_formatted').cleanVal();
            },

            getComparables() {
                if(!this.address || !this.city || !this.state) {
                    return;
                }

                let params = {
                    address: this.address,
                    citystatezip: this.city + ' ' + this.state + ' ' + this.postal_code,
                };

                axios.get('/api/properties/comparables', {params})
                    .then(response => {
                    this.zillow_comparables = response.data;
                });
            },
            openTemplateModalBox(e) {
                axios.get('/my-templates/list')
                    .then(response => {
                    this.showModal = true;
                    
                    this.myTemplatesList = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            useTemplateSelected(cost, template_id) {
                this.rehab_estimate = cost;
                this.cost_template_id = template_id;
                this.showModal = false;
                // $emit('close');
            }
        }
    }
</script>
