<template>

</template>

<script>
    export default {
        data() {
            return {
                to: 'contacts',
                message: '',
                templates: [
                    'First template',
                    'Second template',
                    'Third template',
                    'Fourth template'
                ],
                selectedTemplate: ''
            }
        },

        methods: {
            selectTemplate: function () {
                this.message = this.selectedTemplate;
            }
        }
    }
</script>
