<template>
<div class="modal" id="myModal" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Rehab Templates</h4>
			<button type="button" class="close" @click="$emit('close')" data-dismiss="modal">×</button>
		  </div>
		  <!-- Modal body -->
		  <div class="modal-body">
				<table class="table table-bordered">
					<thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Template</th>
						  <th scope="col">Total Price</th>
						  <th scope="col">Action</th>
						</tr>
					</thead>
					<tbody v-for="(myTemplate, indexs) in myTemplatesList">
						<tr>
						  <th>{{ (indexs + 1)}}</th>
						  <td>{{ myTemplate.template_name }}</td>
						  <td>${{ myTemplate.total_cost }}</td>
						  <td>
						  	<a @click="useTemplateSelected(myTemplate.total_cost, myTemplate.id)" class="btn btn-sm btn-success">Select Price</a>
						  </td>
						</tr>						
					 </tbody>
				</table>
		  </div>
		  <!-- Modal footer -->
		  <div class="modal-footer">
			<button type="button" @click="$emit('close')" class="btn btn-danger" data-dismiss="modal">Close</button>
		  </div>
		</div>
	</div>
</div>
</template>
<script>
  export default {
  	 props: ['myTemplatesList', 'useTemplateSelected'],
  }
</script>