<template>
	<div>
		<div class="row">
			<div>
				<div class="form-group input-group-sm col-sm-3">
					<label>Enter Template Name</label>
					<input type="text" class="form-control" v-model="template_name" placeholder="">
				</div>
			</div>
			<div>
				<div class="form-group input-group-sm col-sm-3">
					<label>Upload Floorplan</label> <input class="form-control" type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
				</div>
			</div>
			<div v-if="path">
				<div class="form-group input-group-sm col-sm-3">
					<label>Download Floorplan</label><br>
					<a :href="path" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
		<div>
			<div class="form-group input-group-sm col-sm-3 broder-1-bot">
				<label><strong>Product</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-1 broder-1-bot">
				<label><strong>Quantity</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-1 broder-1-bot">
				<label><strong>Unit of Measure</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-1 broder-1-bot">
				<label><strong>Unit Cost</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-1 broder-1-bot">
				<label><strong>Total Cost</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-1 broder-1-bot">
				<label><strong>Product SKU</strong></label>
			</div>
		</div>
		<div>
			<div class="form-group input-group-sm col-sm-3 broder-1-bot">
				<label><strong>Notes</strong></label>
			</div>
		</div>
		<!-- <div>
			<div class="form-group input-group-sm col-sm-2">
				<label>Total Category Expense</label>
			</div>
		</div> -->
		</div>
		<form @submit="formSubmit" enctype="multipart/form-data" class="form-auto">
		<div class="row" v-for="(item, index) in items">
			<h6 class="ml-1"><strong>{{item.title}}</strong></h6>
			<div>
				<div class="form-group input-group-sm col-sm-3">
					<input type="text" class="form-control" v-model="item.name" readonly>
				</div>
			</div>

			<div>
				<div class="form-group input-group-sm col-sm-1">
					<input type="number" min="1" class="form-control" v-model.number="item.qty" @keydown="filterKey" @input="filterInput">
				</div>
			</div>

			<div>
				<div class="form-group input-group-sm col-sm-1">
					<select name="" v-model="item.unit" class="form-control col-sm-2">
						<option value="1">unit</option>
						<option value="2">linear feet</option>
						<option value="3">blind</option>
						<option value="4">per foot</option>
						<option value="5">knob</option>
						<option value="6">handle</option>
						<option value="7">square feet</option>
						<option value="8">panel</option>
						<option value="9">door</option>
						<option value="10">panel</option>
						<option value="11">window</option>
					</select>
				</div>
			</div>

			<div>
				<div class="form-group input-group-sm col-sm-1">
					<input type="number" class="form-control" v-model.number="item.price" @keydown="filterKey" @input="filterInput">
				</div>
			</div>

			<div>
				<div class="form-group input-group-sm col-sm-1">
					<span class="form-control" v-model="subtotalRow[index]">{{ subtotalRow[index] | currency }}</span>
				</div>
			</div>
			<div>
				<div class="form-group input-group-sm col-sm-1">
					<input type="text" class="form-control" v-model="item.sku">
				</div>
			</div>	
			<div>
				<div class="form-group input-group-sm col-sm-3">
					<input type="text" class="form-control" v-model="item.notes">
				</div>
			</div>			
		</div>
		<div class="col-sm-12 text-center">
			<h3 class="mt-4">
			<center class="font-md-2 text-bold-700 text-center">
				TOTAL REHAB EXPENSES : {{total | currency}}
			</center>
			</h3>
			<input type="hidden" name="total_cost" v-model="total">
		</div>
		<div class="col-md-12 m-t-20">
			<!--- Submit Field --->
			<div class="text-right m-t-30 form-group pull-right">
				<button class="btn btn-success waves-light">Save</button>		
				<span data-toggle="modal" data-target="#saveAsTemplateModal">
					<button type="button" class="btn btn-success waves-light">Save As Template</button>				
				</span>
				<button type="button" onclick="goBack()" class="btn btn-default">Cancel</button>
			</div>
		</div>
		</form>
		<div id="saveAsTemplateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Save As Template</h4>
				</div>
				<div class="modal-body">
					<!--- Contact Field --->
					<div class="form-group">
						<label for="group">Enter Template Name</label>
						<input type="text" v-model="template_name" name="template_name" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
					<button @click="formSubmit" type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</div>
</template>
<style>
	.broder-1-bot {
		border-bottom: 1px solid #ccc
	}
	.form-auto {
	    max-height: 700px;
	    overflow-y: auto;
	    overflow-x: hidden;
	}
</style>
<script>
	export default {
		props: ['templateId', 'propertyId'],
		data() {
			return {
				path:'',
				template_name:'',
				file: '',
				items: [
					{title:"ROOFING", name:'Removal of old roof', unit:"", qty: 1, price: "", sku:"", notes:"", type:'' },
					{title:"", name:'New sofit and or fascia', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'' },
					{title:"", name:'Miscellaneous roofing expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'},
					
					{title:"WINDOWS", name:'New replacement windows', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Broken window repair', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous window expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"LANDSCAPING", name:'Simple Front Yard', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'New Sprinkler System', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Umbrella a tree', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Remove a tree', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Fencing', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Concrete', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous landscaping expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"EXTERIOR", name:'Paint', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Power wash', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Siding', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Stucco', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous exterior expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"INTERIOR", name:'Paint', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Patch Drywall ', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Scrape popcorn off ceilings', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Texture walls', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Baseboards', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous interior expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"FLOORING", name:'Tile and carpet combo', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Tile', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Hardwood or Laminate', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Carpet', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous flooring expense', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"DOORS", name:'Front door with hardware', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Exterior doors with hardward', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Sliding glass door or exterior french doors', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Closet door sets', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Interior door kits with hardware', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Interior door slab with hardware', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Interior french doors with hardware', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Garage doors ', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscelaneous door expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"ELECTRICAL", name:'Rewire the whole house', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Exterior light', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Interior light', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Recessed can light', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Ceiling fan', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Change out plugs and switches', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Change or replace electrical panel', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscelaneous electrical expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"PLUMBING", name:'Water Heater', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Replumb the whole house', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscelaneous plumbing expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"HVAC", name:'Install a complete system A/C and heat', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Gas pack for roof top ', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Furnace', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Wall Heaters', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'A/C compressor', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'New registers for whole house', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous HVAC expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"KITCHEN", name:'Remodel entire kitchen ($7,000 for normal, $8,000 for larger)', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Half kitchen = everything except cabinets', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscellaneous kitchen expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"BATHROOMS", name:'Complete renovation', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Tub, shower valve, tile surround', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Tile surround', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'New tub', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Glaze tub', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Shower valves', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Vanity', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Toilet', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Mirror, medicine cabinet, TP and towel bar', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Miscelaneous bathroom expenses', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },

					{title:"MISCELLANEOUS", name:'Demo and dumpster', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Final clean up', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Pool', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Basement', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Mold', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'French Drain', unit:"",  qty: 1, price: "", sku:"", notes:"", type:''  },
					{title:"", name:'Other', unit:"",  qty: 1, price: "", sku:"", notes:"", type:'misc'  },
				]
			}
		},
		computed: {
			subtotalRow() {
			  return this.items.map((item) => {
				return Number(item.qty * item.price)
			  });
			},
			total() {
			  return this.items.reduce((total, item) => {
				return total + item.qty * item.price;
			  }, 0);
			}
		},
		mounted() {          
			if(this.templateId > 0) {
				axios.get(`/${this.templateId}/fetch-template-json`)
					.then(response => {
						this.items = JSON.parse(response.data.items);
						this.template_name = response.data.template_name;
						this.path = response.data.path;
					});
			}
		},
		methods: {
			handleFileUpload(){
				this.file = this.$refs.file.files[0];
			},
			filterKey(e){
			  const key = e.key;

			  // If is '.' key, stop it
			  if (key === '.')
				return e.preventDefault();
			  
			  // OPTIONAL
			  // If is 'e' key, stop it
			  if (key === 'e')
				return e.preventDefault();
			},  
			filterInput(e){
			  e.target.value = e.target.value.replace(/[^0-9]+/g, '');
			},      
			addRow(index) {
			   this.items.splice(index + 1, 0, {
				 qty: 1,  price: 0
				});
			},
			removeRow(index) {
				this.items.splice(index, 1);
			},
			formSubmit(e) {
				e.preventDefault();
				let currentObj = this;
				let formData = new FormData();
				formData.append('file', this.file);
				formData.append('template_name', this.template_name);
				formData.append('items', JSON.stringify(this.items));
				formData.append('total_cost', $('[name="total_cost"]').val());
				formData.append('id', currentObj.templateId);
				formData.append('property_id', currentObj.propertyId);
				axios.post('/rehab/templates/save', formData, {
					headers: {
					  'Content-Type': 'multipart/form-data'
					}
				})
				.then(function (response) {  
					if (response.data.property_id > 0)  {
						window.location.href = `/deals/${response.data.property_id}/edit`;
					} else {
						window.location.href = `/repair-cost-templates/list`;
					}         	
					// currentObj.items = JSON.parse(response.data.items);
					// currentObj.rowId = JSON.parse(response.data.id);
				})
				.catch(function (error) {
					console.log(error);
				});
			}
		}
	}
</script>
