<template>
    <li class="dropdown dropdown-notification nav-item" v-show="notifications.length">
        <a href="#" class="nav-link nav-link-label">
            <i class="fa fa-bell"></i><span v-if="unreadCount" class="tag tag-pill tag-default tag-danger tag-default tag-up">{{ unreadCount }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-media dropdown-menu-right">
            <div class="dropdown-menu-header">
                <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Notifications</span>
                    <span v-if="unreadCount" class="notification-tag tag tag-default tag-danger float-xs-right m-0">{{ unreadCount }} New</span>
                </h6>
            </div>
            <div class="scrollable-container" style="max-height: 500px">
              <div class="list-group" v-for="notification in notifications">
                <a :href="notification.data.route ? notification.data.route : 'javascript:void(0)'" class="list-group-item">
                  <div class="media">
                    <div class="media-left valign-middle"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        {{ notification.data.title }}
                        <a href="#" class="pull-right" @click.prevent="markAsRead(notification)"><i class="fa fa-times"></i></a>
                      </h6>
                      <p class="notification-text font-small-3 text-muted" v-html="notification.data.message"></p><small>
                      <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">{{ notification.created_at | ago }}</time></small>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <li class="dropdown-menu-footer"><a href="javascript:void(0)" @click.prevent="markAllRead" class="dropdown-item text-muted text-xs-center"><strong>MARK ALL AS READ</strong></a></li>
        </div>
    </li>
</template>

<script>
    export default {
        data() {
            return {
                notifications: []
            }
        },

        created() {
            this.fetch();
        },

        computed: {
            unreadCount() {
                return _.filter(this.notifications, {read_at: null}).length;
            }
        },

        methods: {
            fetch() {
                axios.get('/api/notifications')
                    .then(response => this.notifications = response.data);
            },

            markAsRead(notification) {
                axios.delete('/api/notifications/' + notification.id)
                    .then(response => this.fetch());
            },

            markAllRead () {
              // this.total = 0
              this.notifications = [];
              axios.post('/api/notifications/mark-all-read').then(response => this.fetch());
            },
        }
    }
</script>
