<template>

</template>

<script>
    export default {
        mounted() {

        },

        methods: {
            toggle: function(id) {
                axios.get('/users/status/toggle/' + id);
            },

            toggleBypassPayment: function(id) {
                axios.get('/users/bypassPayment/toggle/' + id);
            }
        }
    }
</script>
