/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.nav-wide {margin-left:36px !important;}
.content-header {margin-top:10px !important; margin-bottom: 10px!important;}

@media (max-width: 1330px) {
    #main-menu-navigation .nav-wide {
        margin-left: 6px !important;
    }

    #main-menu-navigation .nav-wide a {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    #main-menu-navigation .nav-wide a {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
  body .content-right {
    width: calc(100% - 300px);
    float: right; }
  
    .content-left {
    width: calc(100% - 300px);
    float: left; }
  body .content-detached {
    width: 100%; }
    body .content-detached.content-right {
      float: right;
      margin-left: -300px; }
      body .content-detached.content-right .content-body {
        margin-left: 320px; }
    body .content-detached.content-left {
      float: left;
      margin-right: -300px; }
      body .content-detached.content-left .content-body {
        margin-right: 320px; }
  .sidebar-right.sidebar-sticky {
    float: right !important;
    margin-left: -300px;
    width: 300px !important; }
  [data-col="content-left-sidebar"] .sticky-wrapper {
    float: left; } }

.sidebar {
  position: relative;
  width: 100%; }
  @media (min-width: 992px) {
    .sidebar {
      vertical-align: top;
      width: 300px; } }

@media (min-width: 992px) {
  .sidebar-left {
    float: left; }
  .sidebar-right {
    float: right; } }

footer.footer {
  padding: 0.4rem; }

footer.navbar-shadow {
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.15); }

footer.navbar-border {
  border-top: 1px solid #E4E7ED; }

footer.footer-transparent {
  border: none; }

footer.footer-light {
  background: #FFFFFF; padding-top: 20px; padding-bottom: 20px; border-top: solid 1px #e8e8e8; font-size: 13px;
    -webkit-box-shadow: inset 0 20px 30px -20px rgba(74, 74, 74, 0.2);
    -moz-box-shadow: inset 0 20px 30px -20px rgba(74, 74, 74, 0.2);
    box-shadow: inset 0 20px 30px -20px rgba(74, 74, 74, 0.2);
}

footer.footer-dark {
  background: #404E67;
  color: #fff; }

/* =============
   Print CSS
============= */
 
@media print {
  .page-title-box,
  .topbar-left,
  .hidden-print,
  .breadcrumb,
  .page-title,
  .footer,
  #topnav,
  .btn-custom {
    display: none;
    margin: 0px;
    padding: 0px;
  }
 
  button {display:none!important;}

  .left,
  .right-bar {
    display: none;
  }
  .wrapper {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .content-page {
    margin-left: 0px!important;
    margin-top: 0px;
  }
  body {background: #ffffff !important; border:none!important; margin-top: -50px; zoom: 1.5;}
    
  a[href]:after {
    content: none!important;
  }
  
  a:after > img {
   content: "" !important;
  }
  
  a:not(:local-link):after {
   content:" <" attr(href) "> " !important;
  }
  
}
.no-bg {

	background: #F2F5F7 !important;
	  margin: 0  !important;
	  overflow-x: hidden  !important;
}

.text-highlight { background: #FAF785; padding: 1px 2px; font-weight: 500;}

.highlighted { background: #FAF785; padding: 1px 2px; }

.avatar-lrg {width: 65px!important;}

.img-circle {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.img-circle img {
  width: 100%;
  height: auto;
}

.img-avatar {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.img-avatar-lrg {
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}

.img-avatar img {
  width: 100%;
  height: auto;
}

.m-t-10n {padding-top: -10px!important;}
.m-t-20 {margin-top: 20px!important;}
.m-t-40 {margin-top: 40px!important;}
.m-t-80 {margin-top: 80px!important;}

.m-t-0 {margin-top: 0px !important;}
.m-b-0 {margin-bottom: 0px !important;}
.m-b-10 {margin-bottom: 10px;}
.m-b-20 {margin-bottom: 20px;}
.p-l-20 {padding-left: 20px!important;}

.p-t-10 {padding-top: 10px;}
.p-t-20 {padding-top: 20px;}
.p-l-40 {padding-left: 40px!important;}
.p-b-80 {padding-bottom: 80px;}
.p-b-0 {padding-bottom: 0px;}


.text-muted-light {color: #f1f1f1;}

.card-title {font-weight: 300!important; margin-top:-12px!important;}

.subtitle-text {font-size: 12px; text-transform: uppercase; color: #a3a3a3; font-weight: 300;}

.subtitle-text:before {
   font-family: FontAwesome;
   content: "\f02b";
   display: inline-block;
   padding-right: 5px;
   padding-top: -2px;
   vertical-align: middle;
    color: #00A5A8;
}
.text-area-box {max-height: 100px!important;}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ color:#FFFFFF!important; border:1px solid #cccccc; background-color:#d0d0d0!important;}

.paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#ff000; !important;border:1px solid #979797;background-color:white;}

.dataTables_wrapper .dataTables_paginate .paginate_button{outline:none;background-color:#f5f5f5!important; color:#00A5A8!important; padding:2px 8px!important;}

/* Card Box */
.card {
  padding-top: 10px; padding-bottom:10px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;

}

.card-img-top {
    /* height: auto; */
    height: 225px;
    overflow: hidden;
    display: block;
}

ul,ol { margin-top: 0; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0;}

.list-unstyled { padding-left: 0; list-style: none; }

.info-inline {
  /* padding-left: 0;
  margin-left: -8px!important;
  margin-right: -12px!important;
  margin-top: -15px!important;
  list-style: none;
  text-align: left!important;
  border: 1px solid red;
    display:block; */
    
}

ul.info-inline {
    list-style-type: none;
    list-style: none;
    text-align: left!important;
    margin-top: -15px!important;
    margin-left: -5px!important;
    margin-right: -5px!important;
    padding: 0;
    overflow: hidden;
    display:block;
    /* border: 1px solid red; */
}

ul.info-inline li {
    float: left;
    /* display: block; */
    text-align: left;
    /* padding-left: 10px; */
    text-decoration: none;
    
    display:inline-block;
}

.info-inline > li {
  padding-right: 20px;
  /* padding-left: 8px; */
}

.info-inline > li:last-child {
    padding-right: 0px;
}


ul.list-financials {
    list-style-type: none;
    list-style: none;
    text-align: left!important;
    margin-top: -5px!important;
    margin-left: -5px!important;
    margin-right: -15px!important;
    padding: 0;
    overflow: hidden;
    display:block;
    /* border: 1px solid red; */
}

ul.list-financials li {
    float: left;
    /* display: block; */
    text-align: left;
    /* padding-left: 10px; */
    text-decoration: none;
    display:inline-block;
}

ul.list-financials > li {
  padding-right: 16px;
  /* padding-left: 8px; */
}

ul.list-financials > li:last-child {
    padding-right: 0px;
    margin-left: 18px;
}

/* 
.list-financials {
  padding-left: 0;
  margin-left: -12px!important;
  margin-right: -12px!important;
  margin-top: -5px;
  margin-bottom: 10px!important;
  list-style: none;
  text-align: left;
}

.list-financials > li {
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
} */

.compact-card {
    
    padding-top: 10px;
    padding-bottom: 0px;
    
}

.card-success
{background-color: #16D39A}

.font-main-color {color: #00B5B8!important;}

/** Custom Progress Bar **/

.progress{
    height: 15px;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0px;
    overflow: hidden;
    
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress .progress-value{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -25px;
    right: 0;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}
 form.form-inline .form-group {padding-right: 10px!important;}
    
.table-financials {
    /* border-bottom: 1px solid #ff0000!important; */ border: 1px solid #FF0000;
}
    
.compact-cell {padding-right: 5px!important;}
    
.text-wrap {word-wrap: break-word;} 

#calculation-box {padding: 1.5em 2em 0em 2em;background: #ffffa0!important; border: 1px solid #e5e597;margin-bottom:5.5em; margin-top: 1.5;}

.categoriesUploadPages {
    display: flex;
    align-items: flex-end;
}

#differentValues {
    display: none;
}

#differentValues > div {
    display: flex;
}

#differentValues .defaultField {
    margin: 5px 14px;

}

#differentValues .uploadedField {
    margin: 5px 14px;
}

.successOption {
    color:green;
}

.errorOption {
    color:red;
}

.uploadFieldOptions:disabled {
    color:red;
}

.invalidField {
    background: #f5abab;
}

.warningFiledStyle {
    background: #f5cf89ad;
}

.loadingImg {
    position: absolute;
    background: #e5e5e59e;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
}

.loadingImg img {
    width: 80px;
}


.optionsParent {
    display: flex;
    align-items: center;
}

.optionsParent strong {
    margin-right: 10px;
}

#createCategoryModal .modal-content, #createContactGroupModal .modal-content {
    border-radius: 10px;
}

