@media print{
    
 *{
    margin: 0;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
  }
  body{
    background: #E0E0E0;
    font-family: 'Roboto', sans-serif;
  }
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
  .col-left {
      float: left;
  }
  .col-right {
      float: right;
  }
  h1{
    font-size: 1.2em;
    color: #444;
  }
  h2{font-size: .9em;}
  h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: .75em;
    color: #666;
    line-height: 1.2em;
  }
  a {
      text-decoration: none;
      color: #00a63f;
  }
  
  #invoiceholder{
    width:100%;
    height: 100%;
    padding: 50px 0;
  }
  #invoice{
    position: relative;
    margin: 0 auto;
    width: 700px;
    background: #FFF;
  }
  
  [id*='invoice-']{ /* Targets all id with 'col-' */
  /*  border-bottom: 1px solid #EEE;*/
    padding: 20px 20px 0px 20px;
  }
  
  #invoice-top{border-bottom: 2px solid #3b9ccb; padding-bottom: 25px;}
  
  #invoice-bot{ min-height: 240px;}
  
  .logo{
      display: inline-block;
      vertical-align: middle;
      width: 350px;
      overflow: hidden;
  }
  .info{
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
  }
  .logo img,
  .clientlogo img {
      width: 100%;
  }
  .clientlogo{
      display: inline-block;
      vertical-align: middle;
      width: 50px;
  }
  .clientinfo {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px
  }
  .title{
    float: right;
  }
  .title p{text-align: right;}
  #message{ display: block; margin-top: 20px; margin-bottom: 20px;}
  #message p{
      margin-bottom: 8px;
  }
  h2 {
      margin-bottom: 5px;
      color: #444;
  }
  .col-right td {
      color: #666;
      padding: 5px 8px;
      border: 0;
      font-size: 0.75em;
      border-bottom: 1px solid #eeeeee;
  }
  .col-right td label {
      margin-left: 5px;
      font-weight: 600;
      color: #444;
  }
  .cta-group a {
      display: inline-block;
      padding: 7px;
      border-radius: 4px;
      background: rgb(196, 57, 10);
      margin-right: 10px;
      min-width: 100px;
      text-align: center;
      color: #fff;
      font-size: 0.75em;
  }
  .cta-group .btn-primary {
      background: #00a63f;
  }
  .cta-group.mobile-btn-group {
      display: none;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{
      padding: 10px;
      border-bottom: 1px solid #cccaca;
      font-size: 0.70em;
      text-align: left;
  }
  
  .tabletitle th {
    border-bottom: 2px solid #ddd;
    text-align: left;
  }
  .tabletitle th:nth-child(2) {
      text-align: left;
  }
  th {
      font-size: 0.7em;
      text-align: left;
      padding: 5px 10px;
  }
  .item{width: 50%;}
  .list-item td {
      text-align: left;
  }
  .list-item td:nth-child(2) {
      text-align: left;
  }
  .total-row th,
  .total-row td {
      text-align: right;
      font-weight: 700;
      font-size: .75em;
      border: 0 none;
  }

  footer {
      border-top: 1px solid #eeeeee;;
      padding: 15px 20px;
  }
  
  .footer-right {
      float: right;
  }
  .clear{
      clear: both;
  }
  
  .footer-right h2{
      font-size: 16px;
  }
  .footer-right p{
      font-size: 14px;
  }
  .effect2
  {
    position: relative;
  }
  
  .effect2:after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  #property-map iframe{
      width: 100%;
      height: 180px;
      overflow-y: hidden;
      border: none;
  }
}